header {
  height: 60px;
  text-align: center;
}

main {
  background-color: #0087de;
  height: 900px;
  text-align: center;
}

h1 {
  height: 30px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 100;
  letter-spacing: 0.5px;
  text-align: center;
  color: #1f233e;
  padding-top: 30px;
}

.logo {
  width: 110px;
  height: 28px;
  margin-top: 40px;
  object-fit: contain;
}

.container {
  width: 800px;
  height: 400px;
  margin: auto;
  text-align: left;
  position: relative;
  transform: translateY(50%);
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

#text{
  font-size: 18px;
}

#input {
  width: 80px;
  height: 30px;
  border-radius: 3px;
  border: solid 0.8px #1f233e;
  font-family: Source Sans Pro;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
}

#select {
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  border-radius: 3px;
  border: solid 0.8px #1f233e;
}

#calculate {
  width: 200px;
  height: 30px;
  font-family: Source Sans Pro;
  font-size: 22px;
  letter-spacing: 1.4px;
  border-radius: 10px;
  border:none;
  background-color: #E74C3C;
  text-align: center;
  transform: translate(150%, 50%);
  color: #ffffff;
}


#responseField {
/*   min-width: 100px; */
  min-height: 80px;
  margin-top: 30px;
  font-family: Source Sans Pro;
  font-size: 48px;
  letter-spacing: 26px;
  text-align: center;
  color: #ffffff;
}
